<configuration>
  <system.web>
	   <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
	<rewrite>
        <rules>
            <rule name="App01Proxy" stopProcessing="true">
                <match url="^app01/(.*)" />
                <action type="Rewrite" url="https://bjdweb001.azurewebsites.net/{R:1}" />
                <serverVariables>
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                </serverVariables>
            </rule>
            <rule name="App02Proxy" stopProcessing="true">
                <match url="^app02/(.*)" />
                <action type="Rewrite" url="https://bjdweb002.azurewebsites.net/{R:1}" />
                <serverVariables>
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                </serverVariables>
            </rule>
        </rules>
    </rewrite>
 </system.webServer>
</configuration>